body{
    background-color: #433878;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.addTask{
    line-height: 3rem;
}
.update{
  font-size: 40px;
  border: 1px solid;
  width: 100%;
  background-color: #FFE1FF;
  color: #7E60BF;
  /* display: flex; */
  align-items: center;
  border-radius: 1rem;
  margin-top: 0.8rem;



}
.add{
    height: 47px;
    width: 60px;
    background-color: #E4B1F0;
    border: 2px solid rgba(0, 0, 0, 0.784);
    position: relative;
    bottom: 0.3rem;
    border-radius: 1rem;
    cursor: pointer;
    color:#7E60BF;
    font-size: 16px;
    
}
.add:hover{
    border: 1px solid rgb(0, 0, 0);
    background-color: #dd8eef;
    /* color:#7a49e3;
    font-size: 20px; */
    

}
.add:active{
    color:#7a49e3;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);

}
.inp{
  height:40px;
  width:94vw;
  font-size: 28px;
  margin-top: 0.5rem;
  background-color:#FFE1FF;
  border-radius: 1rem;
  color:#7E60BF;
}
.inp:hover{
    font-size: 30px;
}

.checkbox{
   transform: scale(1.5);
   margin: 0 10px 0px 10px;

}

label:hover{
    margin-left:0rem 0rem 0rem 1rem;
    border-bottom:2px solid #7a49e3 ;
    font-size:42px ;
}
.removeAll{
   position: fixed;
   bottom: 0px;
   right: 0;
   background-color: #E4B1F0;
   border: 1px solid rgba(0, 0, 0, 0.784);
   border-radius: 1rem;
   cursor: pointer;
   color:#7E60BF;
   font-size: 16px;
   z-index: 1; 
}
.removeAll:hover{
    background-color:rgba(255, 0, 0, 0.756);
   
}
.removeAll:active{
    border: 1px solid rgb(0, 0, 0);
    color:#7a49e3;
    font-size: 18px;

}